@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@700&family=Syne+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: "Architects Daughter", sans-serif;
    color: grey;
}

/* headers */

h1, h2 {
    font-family: "Syne Mono", sans-serif;
    font-size: 300%;
    letter-spacing: 5px;
}

header p {
    font-family: Caveat, sans-serif;
}

header {
    text-align: center;
}

/* navigation */

header nav {
    text-align: right;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}