@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@700&family=Syne+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: "Architects Daughter", sans-serif;
    color: grey;
}

/* headers */

h1, h2 {
    font-family: "Syne Mono", sans-serif;
    letter-spacing: 5px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

#logo {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}


/* navigation */

#links li {
    list-style-type: none;
    float: right;
    margin-right: 10px;
}

#links a {
    text-decoration: none;
    color: black;
    position: relative;
    top: -60px;
}

#links a:hover {
    background-color: black;
    color: white;
}

.active {
    border-bottom: 1px solid black;
}

/* Cover image */

#face-off-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2{
    font-size: 200%;
}

#two-paintballers {
    height: 600px;
    width: 100%;
    background: url(../images/paintballers-face-off.jpg) no-repeat center center;
}

#cover-text {
    height: 120px;
    text-transform: uppercase;
    width: 270px;
    padding: 10px;

    position: relative;
    
    bottom: 255px;
    left: 40%;
    color: cornflowerblue;
    background-color: rgba(500, 100, 100, .5);
    border-radius: 5px;
}

#cover-text p {
    font-family: Caveat, sans-serif;
    font-size: large;
}

/* About Us section */

#about {
    padding: 5px;
    height: 350px;
    width: 100%;
}

#who {
    width: 45%;
    padding: 20px;
    float: left;
}

#where {
    width: 45%;
    padding: 20px;
    float: right;
}

/* contest section */

.contest {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url(../images/group-of-painballers.jpeg) no-repeat center center; 
}

.contest div {
    color: whitesmoke;
    width: 20%;
    height: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 35px 0 0 10px;
}

/* Social media links section */

#social {
    text-align: center;
    font-size: xx-large;
    letter-spacing: 50px;
}

/* Contact us section */

#contact {
    text-align: right;
    color: black;
    margin-right: 10px;
}

/* Sign-up form */

#form {
    color: black;
    background-color: rgba(245, 245, 220, .4);
    height: 170px;
    position: absolute;
    top: 200px;
    left: 16%;
    padding: 5px 0 0 10px;
    border-radius: 5px;
}

#sign-up {
    max-width: 260px;
}

.text-input {
    border: 1px solid black;
    border-radius: 5px;
}

.text-input:hover {
    border-color: red;
}

#submit {
    background-color: red;
    color: blue;
    border: 1px solid black;
    border-radius: 5px;
}

#submit:hover {
    background-color: blue;
    color: red;
}

/* Media Queries */

/* For Large to Medium screens less than 1200px wide */

@media screen and (max-width: 1200px) {
    #form {
        left: 2%;
    }

    #cover-text {
        left: 37%;
    }
}

/* For medium screens less than 950px wide */

@media screen and (max-width: 950px) {
    .contest {
        height: 900px;
    }

    .contest div {
        height: 180px;
        width: 100%;
    }

    #cover-text {
        left: 34%;
    }

    #about {
        height: 720px;
    }

    #who {
        position: relative;
        text-align: center;
        left: 25%;
    }

    #where {
        position: relative;
        text-align: center;
        right: 25%;
    }

    #links a {
        top: -10px;
    }
}

/* For smaller devices less than 550px wide */

@media screen and (max-width: 550px) {
    
    #cover-text {
        left: 10%;
    }

    #social {
        letter-spacing: 20px;
    }
}