@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@700&family=Syne+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: "Architects Daughter", sans-serif;
    color: grey;
}

/* headers */

h1, h2 {
    font-family: "Syne Mono", sans-serif;
    letter-spacing: 5px;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

#logo {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}


/* navigation */

#links li {
    list-style-type: none;
    float: right;
    margin-right: 10px;
}

#links a {
    text-decoration: none;
    color: black;
    position: relative;
    top: -60px;
}

#links a:hover {
    background-color: black;
    color: white;
}

.active {
    border-bottom: 1px solid black;
}

/* Cover image */

#face-off-image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2{
    font-size: 200%;
}

#two-paintballers {
    height: 600px;
    width: 100%;
    background: url(../images/paintballers-face-off.jpg) no-repeat center center;
}

#cover-text {
    height: 120px;
    text-transform: uppercase;
    width: 270px;
    padding: 10px;

    position: relative;
    
    bottom: 255px;
    left: 40%;
    color: cornflowerblue;
    background-color: rgba(500, 100, 100, .5);
}

#cover-text p {
    font-family: Caveat, sans-serif;
    font-size: large;
}

/* About Us section */

#about {
    padding: 5px;
    height: 350px;
    width: 100%;
}

#who {
    width: 45%;
    padding: 20px;
    float: left;
}

#where {
    width: 45%;
    padding: 20px;
    float: right;
}

/* contest section */

.contest {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url(../images/group-of-painballers.jpeg) no-repeat center center; 
}

.contest div {
    color: whitesmoke;
    width: 20%;
    height: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 35px 0 0 10px;
}

/* Social media links section */

#social {
    text-align: center;
    font-size: xx-large;
    letter-spacing: 50px;
}